.nk-header.nk-header-fixed.is-light
        .container-fluid
          .nk-header-wrap
            .nk-menu-trigger.d-xl-none.ms-n1
              a.nk-nav-toggle.nk-quick-nav-icon(href='#' data-target='sidebarMenu')
                em.icon.ni.ni-menu
            .nk-header-brand.d-xl-none
              a.logo-link(href='html/index.html')
                img.logo-light.logo-img(src='./images/logo.png' srcset='./images/logo2x.png 2x' alt='logo')
                img.logo-dark.logo-img(src='./images/logo-dark.png' srcset='./images/logo-dark2x.png 2x' alt='logo-dark')
            // .nk-header-brand
            .nk-header-tools
              ul.nk-quick-nav
                li.dropdown.language-dropdown.d-none.d-sm-block.me-n1
                  a.dropdown-toggle.nk-quick-nav-icon(href='#' data-bs-toggle='dropdown')
                    .quick-icon.border.border-light
                      img.icon(src='./images/flags/english-sq.png' alt='')
                  .dropdown-menu.dropdown-menu-end.dropdown-menu-s1
                    ul.language-list
                      li
                        a.language-item(href='#')
                          img.language-flag(src='./images/flags/english.png' alt='')
                          span.language-name English
                      li
                        a.language-item(href='#')
                          img.language-flag(src='./images/flags/spanish.png' alt='')
                          span.language-name Espa&ntilde;ol
                      li
                        a.language-item(href='#')
                          img.language-flag(src='./images/flags/french.png' alt='')
                          span.language-name Fran&ccedil;ais
                      li
                        a.language-item(href='#')
                          img.language-flag(src='./images/flags/turkey.png' alt='')
                          span.language-name T&uuml;rk&ccedil;e
                // .dropdown
                li.dropdown.user-dropdown
                  a.dropdown-toggle(href='#' data-bs-toggle='dropdown')
                    .user-toggle
                      .user-avatar.sm
                        em.icon.ni.ni-user-alt
                      .user-info.d-none.d-md-block
                        .user-status Administrator
                        .user-name.dropdown-indicator Abu Bin Ishityak
                  .dropdown-menu.dropdown-menu-md.dropdown-menu-end.dropdown-menu-s1
                    .dropdown-inner.user-card-wrap.bg-lighter.d-none.d-md-block
                      .user-card
                        .user-avatar
                          span AB
                        .user-info
                          span.lead-text Abu Bin Ishtiyak
                          span.sub-text info@softnio.com
                    .dropdown-inner
                      ul.link-list
                        li
                          a(href='html/user-profile-regular.html')
                            em.icon.ni.ni-user-alt
                            span View Profile
                        li
                          a(href='html/user-profile-setting.html')
                            em.icon.ni.ni-setting-alt
                            span Account Setting
                        li
                          a(href='html/user-profile-activity.html')
                            em.icon.ni.ni-activity-alt
                            span Login Activity
                        li
                          a.dark-switch(href='#')
                            em.icon.ni.ni-moon
                            span Dark Mode
                    .dropdown-inner
                      ul.link-list
                        li
                          a(href='#')
                            em.icon.ni.ni-signout
                            span Sign out
                // .dropdown
                li.dropdown.notification-dropdown.me-n1
                  a.dropdown-toggle.nk-quick-nav-icon(href='#' data-bs-toggle='dropdown')
                    .icon-status.icon-status-info
                      em.icon.ni.ni-bell
                  .dropdown-menu.dropdown-menu-xl.dropdown-menu-end.dropdown-menu-s1
                    .dropdown-head
                      span.sub-title.nk-dropdown-title Notifications
                      a(href='#') Mark All as Read
                    .dropdown-body
                      .nk-notification
                        .nk-notification-item.dropdown-inner
                          .nk-notification-icon
                            em.icon.icon-circle.bg-warning-dim.ni.ni-curve-down-right
                          .nk-notification-content
                            .nk-notification-text
                              | You have requested to 
                              span Widthdrawl
                            .nk-notification-time 2 hrs ago
                        .nk-notification-item.dropdown-inner
                          .nk-notification-icon
                            em.icon.icon-circle.bg-success-dim.ni.ni-curve-down-left
                          .nk-notification-content
                            .nk-notification-text
                              | Your 
                              span Deposit Order
                              |  is placed
                            .nk-notification-time 2 hrs ago
                        .nk-notification-item.dropdown-inner
                          .nk-notification-icon
                            em.icon.icon-circle.bg-warning-dim.ni.ni-curve-down-right
                          .nk-notification-content
                            .nk-notification-text
                              | You have requested to 
                              span Widthdrawl
                            .nk-notification-time 2 hrs ago
                        .nk-notification-item.dropdown-inner
                          .nk-notification-icon
                            em.icon.icon-circle.bg-success-dim.ni.ni-curve-down-left
                          .nk-notification-content
                            .nk-notification-text
                              | Your 
                              span Deposit Order
                              |  is placed
                            .nk-notification-time 2 hrs ago
                        .nk-notification-item.dropdown-inner
                          .nk-notification-icon
                            em.icon.icon-circle.bg-warning-dim.ni.ni-curve-down-right
                          .nk-notification-content
                            .nk-notification-text
                              | You have requested to 
                              span Widthdrawl
                            .nk-notification-time 2 hrs ago
                        .nk-notification-item.dropdown-inner
                          .nk-notification-icon
                            em.icon.icon-circle.bg-success-dim.ni.ni-curve-down-left
                          .nk-notification-content
                            .nk-notification-text
                              | Your 
                              span Deposit Order
                              |  is placed
                            .nk-notification-time 2 hrs ago
                      // .nk-notification
                    // .nk-dropdown-body
                    .dropdown-foot.center
                      a(href='#') View All
                // .dropdown
              // .nk-quick-nav
            // .nk-header-tools
          // .nk-header-wrap
        // .container-fliud