.nk-sidebar.nk-sidebar-fixed.is-dark(data-content='sidebarMenu')
      .nk-sidebar-element.nk-sidebar-head
        .nk-menu-trigger
          a.nk-nav-toggle.nk-quick-nav-icon.d-xl-none(href='#' data-target='sidebarMenu')
            em.icon.ni.ni-arrow-left
          a.nk-nav-compact.nk-quick-nav-icon.d-none.d-xl-inline-flex(href='#' data-target='sidebarMenu')
            em.icon.ni.ni-menu
        .nk-sidebar-brand
          a.logo-link.nk-sidebar-logo(href='html/index.html')
            img.logo-light.logo-img(src='./images/logo.png' srcset='./images/logo2x.png 2x' alt='logo')
            img.logo-dark.logo-img(src='./images/logo-dark.png' srcset='./images/logo-dark2x.png 2x' alt='logo-dark')
      // .nk-sidebar-element
      .nk-sidebar-element.nk-sidebar-body
        .nk-sidebar-content
          .nk-sidebar-menu(data-simplebar='')
            ul.nk-menu
              // .nk-menu-item
              li.nk-menu-heading
                h6.overline-title.text-primary-alt Dashboards
              // .nk-menu-item
              li.nk-menu-item
                a.nk-menu-link(href='html/index.html')
                  span.nk-menu-icon
                    em.icon.ni.ni-dashlite
                  span.nk-menu-text Default Dashboard
              // .nk-menu-item
              li.nk-menu-heading
                h6.overline-title.text-primary-alt Pre-Built Pages
              // .nk-menu-heading
              li.nk-menu-item.has-sub
                a.nk-menu-link.nk-menu-toggle(href='#')
                  span.nk-menu-icon
                    em.icon.ni.ni-tile-thumb
                  span.nk-menu-text Projects
                ul.nk-menu-sub
                  li.nk-menu-item
                    a.nk-menu-link(href='html/project-card.html')
                      span.nk-menu-text Project Cards
                  li.nk-menu-item
                    a.nk-menu-link(href='html/project-list.html')
                      span.nk-menu-text Project List
                // .nk-menu-sub
              // .nk-menu-item
              li.nk-menu-item.has-sub
                a.nk-menu-link.nk-menu-toggle(href='#')
                  span.nk-menu-icon
                    em.icon.ni.ni-users
                  span.nk-menu-text User Manage
                ul.nk-menu-sub
                  li.nk-menu-item
                    a.nk-menu-link(href='html/user-list-regular.html')
                      span.nk-menu-text User List - Regular
                  li.nk-menu-item
                    a.nk-menu-link(href='html/user-list-compact.html')
                      span.nk-menu-text User List - Compact
                  li.nk-menu-item
                    a.nk-menu-link(href='html/user-details-regular.html')
                      span.nk-menu-text User Details - Regular
                  li.nk-menu-item
                    a.nk-menu-link(href='html/user-profile-regular.html')
                      span.nk-menu-text User Profile - Regular
                  li.nk-menu-item
                    a.nk-menu-link(href='html/user-card.html')
                      span.nk-menu-text User Contact - Card
                // .nk-menu-sub
              // .nk-menu-item
              li.nk-menu-item.has-sub
                a.nk-menu-link.nk-menu-toggle(href='#')
                  span.nk-menu-icon
                    em.icon.ni.ni-file-docs
                  span.nk-menu-text AML / KYCs
                ul.nk-menu-sub
                  li.nk-menu-item
                    a.nk-menu-link(href='html/kyc-list-regular.html')
                      span.nk-menu-text KYC List - Regular
                  li.nk-menu-item
                    a.nk-menu-link(href='html/kyc-details-regular.html')
                      span.nk-menu-text KYC Details - Regular
            // .nk-menu
          // .nk-sidebar-menu
        // .nk-sidebar-content
      // .nk-sidebar-element