include includes/header.pug
.nk-app-root
  // main @s
  .nk-main
    // sidebar @s
    include includes/sidepanel.pug
    // sidebar @e
    // wrap @s
    .nk-wrap
      // main header @s
      include includes/navbar.pug
      // main header @e
      // content @s
      .nk-content
        .container-fluid
          .nk-content-inner
            .nk-content-body
              .nk-block-head.nk-block-head-sm
                .nk-block-between
                  .nk-block-head-content
                    h3.nk-block-title.page-title Website Analytics
                    .nk-block-des.text-soft
                      p Welcome to Analytics Dashboard.
                  // .nk-block-head-content
                  .nk-block-head-content
                    .toggle-wrap.nk-block-tools-toggle
                      a.btn.btn-icon.btn-trigger.toggle-expand.me-n1(href='#' data-target='pageMenu')
                        em.icon.ni.ni-more-v
                      .toggle-expand-content(data-content='pageMenu')
                        ul.nk-block-tools.g-3
                          li
                            .drodown
                              a.dropdown-toggle.btn.btn-white.btn-dim.btn-outline-light(href='#' data-bs-toggle='dropdown')
                                em.d-none.d-sm-inline.icon.ni.ni-calender-date
                                span
                                  span.d-none.d-md-inline Last
                                  |  30 Days
                                em.dd-indc.icon.ni.ni-chevron-right
                              .dropdown-menu.dropdown-menu-end
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#')
                                      span Last 30 Days
                                  li
                                    a(href='#')
                                      span Last 6 Months
                                  li
                                    a(href='#')
                                      span Last 1 Years
                          li.nk-block-tools-opt
                            a.btn.btn-primary(href='#')
                              em.icon.ni.ni-reports
                              span Reports
                  // .nk-block-head-content
                // .nk-block-between
              // .nk-block-head
              .nk-block
                .row.g-gs
                  .col-lg-7.col-xxl-6
                    .card.card-bordered.h-100
                      .card-inner
                        .card-title-group.pb-3.g-2
                          .card-title.card-title-sm
                            h6.title Audience Overview
                            p How have your users, sessions, bounce rate metrics trended.
                          .card-tools.shrink-0.d-none.d-sm-block
                            ul.nav.nav-switch-s2.nav-tabs.bg-white
                              li.nav-item
                                a.nav-link(href='#') 7 D
                              li.nav-item
                                a.nav-link.active(href='#') 1 M
                              li.nav-item
                                a.nav-link(href='#') 3 M
                        .analytic-ov
                          .analytic-data-group.analytic-ov-group.g-3
                            .analytic-data.analytic-ov-data
                              .title Users
                              .amount 2.57K
                              .change.up
                                em.icon.ni.ni-arrow-long-up
                                | 12.37%
                            .analytic-data.analytic-ov-data
                              .title Sessions
                              .amount 3.98K
                              .change.up
                                em.icon.ni.ni-arrow-long-up
                                | 47.74%
                            .analytic-data.analytic-ov-data
                              .title Users
                              .amount 28.49%
                              .change.down
                                em.icon.ni.ni-arrow-long-down
                                | 12.37%
                            .analytic-data.analytic-ov-data
                              .title Users
                              .amount 7m 28s
                              .change.down
                                em.icon.ni.ni-arrow-long-down
                                | 0.35%
                          .analytic-ov-ck
                            canvas#analyticOvData.analytics-line-large
                          .chart-label-group.ms-5
                            .chart-label 01 Jan, 2020
                            .chart-label.d-none.d-sm-block 15 Jan, 2020
                            .chart-label 30 Jan, 2020
                    // .card
                  // .col
                  .col-md-6.col-lg-5.col-xxl-3
                    .card.card-bordered.h-100
                      .card-inner
                        .card-title-group.align-start.pb-3.g-2
                          .card-title.card-title-sm
                            h6.title Active Users
                            p How do your users visited in the time.
                          .card-tools
                            em.card-hint.icon.ni.ni-help(data-bs-toggle='tooltip' data-bs-placement='left' title='Users of this month')
                        .analytic-au
                          .analytic-data-group.analytic-au-group.g-3
                            .analytic-data.analytic-au-data
                              .title Monthly
                              .amount 9.28K
                              .change.up
                                em.icon.ni.ni-arrow-long-up
                                | 4.63%
                            .analytic-data.analytic-au-data
                              .title Weekly
                              .amount 2.69K
                              .change.down
                                em.icon.ni.ni-arrow-long-down
                                | 1.92%
                            .analytic-data.analytic-au-data
                              .title Daily (Avg)
                              .amount 0.94K
                              .change.up
                                em.icon.ni.ni-arrow-long-up
                                | 3.45%
                          .analytic-au-ck
                            canvas#analyticAuData.analytics-au-chart
                          .chart-label-group
                            .chart-label 01 Jan, 2020
                            .chart-label 30 Jan, 2020
                    // .card
                  // .col
                  .col-md-6.col-lg-5.col-xxl-3
                    .card.card-bordered.h-100
                      .card-inner
                        .card-title-group.align-start.pb-3.g-2
                          .card-title.card-title-sm
                            h6.title Website Performance
                            p How has performend this month.
                          .card-tools
                            em.card-hint.icon.ni.ni-help(data-bs-toggle='tooltip' data-bs-placement='left' title='Performance of this month')
                        .analytic-wp
                          .analytic-wp-group.g-3
                            .analytic-data.analytic-wp-data
                              .analytic-wp-graph
                                .title
                                  | Bounce Rate 
                                  span (avg)
                                .analytic-wp-ck
                                  canvas#BounceRateData.analytics-line-small
                              .analytic-wp-text
                                .amount.amount-sm 23.59%
                                .change.up
                                  em.icon.ni.ni-arrow-long-up
                                  | 4.5%
                                .subtitle vs. last month
                            .analytic-data.analytic-wp-data
                              .analytic-wp-graph
                                .title
                                  | Pageviews 
                                  span (avg)
                                .analytic-wp-ck
                                  canvas#PageviewsData.analytics-line-small
                              .analytic-wp-text
                                .amount.amount-sm 5.48
                                .change.down
                                  em.icon.ni.ni-arrow-long-down
                                  | -1.48%
                                .subtitle vs. last month
                            .analytic-data.analytic-wp-data
                              .analytic-wp-graph
                                .title
                                  | New Users 
                                  span (avg)
                                .analytic-wp-ck
                                  canvas#NewUsersData.analytics-line-small
                              .analytic-wp-text
                                .amount.amount-sm 549
                                .change.up
                                  em.icon.ni.ni-arrow-long-up
                                  | 6.8%
                                .subtitle vs. last month
                            .analytic-data.analytic-wp-data
                              .analytic-wp-graph
                                .title
                                  | Time on Site 
                                  span (avg)
                                .analytic-wp-ck
                                  canvas#TimeOnSiteData.analytics-line-small
                              .analytic-wp-text
                                .amount.amount-sm 3m 35s
                                .change.up
                                  em.icon.ni.ni-arrow-long-up
                                  | 1.4%
                                .subtitle vs. last month
                    // .card
                  // .col
                  .col-lg-7.col-xxl-6
                    .card.card-bordered.h-100
                      .card-inner.mb-n2
                        .card-title-group
                          .card-title.card-title-sm
                            h6.title Traffic Channel
                            p Top traffic channels metrics.
                          .card-tools
                            .drodown
                              a.dropdown-toggle.dropdown-indicator.btn.btn-sm.btn-outline-light.btn-white(href='#' data-bs-toggle='dropdown') 30 Days
                              .dropdown-menu.dropdown-menu-end.dropdown-menu-xs
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#')
                                      span 7 Days
                                  li
                                    a(href='#')
                                      span 15 Days
                                  li
                                    a(href='#')
                                      span 30 Days
                      .nk-tb-list.is-loose.traffic-channel-table
                        .nk-tb-item.nk-tb-head
                          .nk-tb-col.nk-tb-channel
                            span Channel
                          .nk-tb-col.nk-tb-sessions
                            span Sessions
                          .nk-tb-col.nk-tb-prev-sessions
                            span Prev Sessions
                          .nk-tb-col.nk-tb-change
                            span Change
                          .nk-tb-col.nk-tb-trend.tb-col-sm.text-end
                            span Trend
                        // .nk-tb-head
                        .nk-tb-item
                          .nk-tb-col.nk-tb-channel
                            span.tb-lead Organic Search
                          .nk-tb-col.nk-tb-sessions
                            span.tb-sub.tb-amount
                              span 4,305
                          .nk-tb-col.nk-tb-prev-sessions
                            span.tb-sub.tb-amount
                              span 4,129
                          .nk-tb-col.nk-tb-change
                            span.tb-sub
                              span 4.29%
                              span.change.up
                                em.icon.ni.ni-arrow-long-up
                          .nk-tb-col.nk-tb-trend.text-end
                            .traffic-channel-ck.ms-auto
                              canvas#OrganicSearchData.analytics-line-small
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col.nk-tb-channel
                            span.tb-lead Social Media
                          .nk-tb-col.nk-tb-sessions
                            span.tb-sub.tb-amount
                              span 859
                          .nk-tb-col.nk-tb-prev-sessions
                            span.tb-sub.tb-amount
                              span 936
                          .nk-tb-col.nk-tb-change
                            span.tb-sub
                              span 15.8%
                              span.change.down
                                em.icon.ni.ni-arrow-long-down
                          .nk-tb-col.nk-tb-trend.text-end
                            .traffic-channel-ck.ms-auto
                              canvas#SocialMediaData.analytics-line-small
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col.nk-tb-channel
                            span.tb-lead Referrals
                          .nk-tb-col.nk-tb-sessions
                            span.tb-sub.tb-amount
                              span 482
                          .nk-tb-col.nk-tb-prev-sessions
                            span.tb-sub.tb-amount
                              span 793
                          .nk-tb-col.nk-tb-change
                            span.tb-sub
                              span 41.3%
                              span.change.down
                                em.icon.ni.ni-arrow-long-down
                          .nk-tb-col.nk-tb-trend.text-end
                            .traffic-channel-ck.ms-auto
                              canvas#ReferralsData.analytics-line-small
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col.nk-tb-channel
                            span.tb-lead Others
                          .nk-tb-col.nk-tb-sessions
                            span.tb-sub.tb-amount
                              span 138
                          .nk-tb-col.nk-tb-prev-sessions
                            span.tb-sub.tb-amount
                              span 97
                          .nk-tb-col.nk-tb-change
                            span.tb-sub
                              span 12.6%
                              span.change.up
                                em.icon.ni.ni-arrow-long-up
                          .nk-tb-col.nk-tb-trend.text-end
                            .traffic-channel-ck.ms-auto
                              canvas#OthersData.analytics-line-small
                        // .nk-tb-item
                      // .nk-tb-list
                    // .card
                  // .col
                  .col-md-6.col-xxl-3
                    .card.card-bordered.h-100
                      .card-inner
                        .card-title-group
                          .card-title.card-title-sm
                            h6.title Traffic Channel
                          .card-tools
                            .drodown
                              a.dropdown-toggle.dropdown-indicator.btn.btn-sm.btn-outline-light.btn-white(href='#' data-bs-toggle='dropdown') 30 Days
                              .dropdown-menu.dropdown-menu-end.dropdown-menu-xs
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#')
                                      span 7 Days
                                  li
                                    a(href='#')
                                      span 15 Days
                                  li
                                    a(href='#')
                                      span 30 Days
                        .traffic-channel
                          .traffic-channel-doughnut-ck
                            canvas#TrafficChannelDoughnutData.analytics-doughnut
                          .traffic-channel-group.g-2
                            .traffic-channel-data
                              .title
                                span.dot.dot-lg.sq(data-bg='#9cabff')
                                span Organic Search
                              .amount
                                | 4,305 
                                small 58.63%
                            .traffic-channel-data
                              .title
                                span.dot.dot-lg.sq(data-bg='#b8acff')
                                span Social Media
                              .amount
                                | 859 
                                small 23.94%
                            .traffic-channel-data
                              .title
                                span.dot.dot-lg.sq(data-bg='#ffa9ce')
                                span Referrals
                              .amount
                                | 482 
                                small 12.94%
                            .traffic-channel-data
                              .title
                                span.dot.dot-lg.sq(data-bg='#f9db7b')
                                span Others
                              .amount
                                | 138 
                                small 4.49%
                          // .traffic-channel-group
                        // .traffic-channel
                    // .card
                  // .col
                  .col-md-6.col-xxl-3
                    .card.card-bordered.h-100
                      .card-inner
                        .card-title-group
                          .card-title.card-title-sm
                            h6.title Users by Country
                          .card-tools
                            .drodown
                              a.dropdown-toggle.dropdown-indicator.btn.btn-sm.btn-outline-light.btn-white(href='#' data-bs-toggle='dropdown') 30 Days
                              .dropdown-menu.dropdown-menu-end.dropdown-menu-xs
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#')
                                      span 7 Days
                                  li
                                    a(href='#')
                                      span 15 Days
                                  li
                                    a(href='#')
                                      span 30 Days
                        .analytics-map
                          #worldMap.vector-map
                          table.analytics-map-data-list
                            tr.analytics-map-data
                              td.country United States
                              td.amount 12,094
                              td.percent 23.54%
                            tr.analytics-map-data
                              td.country India
                              td.amount 7,984
                              td.percent 7.16%
                            tr.analytics-map-data
                              td.country Turkey
                              td.amount 6,338
                              td.percent 6.54%
                            tr.analytics-map-data
                              td.country Bangladesh
                              td.amount 4,749
                              td.percent 5.29%
                    // .card
                  // .col
                  .col-xxl-6
                    .card.card-bordered.h-100
                      .card-inner.mb-n2
                        .card-title-group
                          .card-title.card-title-sm
                            h6.title Browser Used
                          .card-tools
                            .drodown
                              a.dropdown-toggle.dropdown-indicator.btn.btn-sm.btn-outline-light.btn-white(href='#' data-bs-toggle='dropdown') 30 Days
                              .dropdown-menu.dropdown-menu-end.dropdown-menu-xs
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#')
                                      span 7 Days
                                  li
                                    a(href='#')
                                      span 15 Days
                                  li
                                    a(href='#')
                                      span 30 Days
                      .nk-tb-list.is-loose
                        .nk-tb-item.nk-tb-head
                          .nk-tb-col
                            span Browser
                          .nk-tb-col.text-end
                            span Users
                          .nk-tb-col
                            span % Users
                          .nk-tb-col.tb-col-sm.text-end
                            span Bounce Rate
                        // .nk-tb-head
                        .nk-tb-item
                          .nk-tb-col
                            .icon-text
                              em.text-primary.icon.ni.ni-globe
                              span.tb-lead Google Chrome
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 1,641
                          .nk-tb-col
                            .progress.progress-md.progress-alt.bg-transparent
                              .progress-bar(data-progress='72.84')
                              .progress-amount 72.84%
                          .nk-tb-col.tb-col-sm.text-end
                            span.tb-sub 22.62%
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            .icon-text
                              em.text-danger.icon.ni.ni-globe
                              span.tb-lead Mozilla Firefox
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 497
                          .nk-tb-col
                            .progress.progress-md.progress-alt.bg-transparent
                              .progress-bar(data-progress='7.93')
                              .progress-amount 7.93%
                          .nk-tb-col.tb-col-sm.text-end
                            span.tb-sub 20.49%
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            .icon-text
                              em.text-info.icon.ni.ni-globe
                              span.tb-lead Safari Browser
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 187
                          .nk-tb-col
                            .progress.progress-md.progress-alt.bg-transparent
                              .progress-bar(data-progress='4.87')
                              .progress-amount 4.87%
                          .nk-tb-col.tb-col-sm.text-end
                            span.tb-sub 21.34%
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            .icon-text
                              em.text-orange.icon.ni.ni-globe
                              span.tb-lead UC Browser
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 96
                          .nk-tb-col
                            .progress.progress-md.progress-alt.bg-transparent
                              .progress-bar(data-progress='2.46')
                              .progress-amount 2.46%
                          .nk-tb-col.tb-col-sm.text-end
                            span.tb-sub 20.33%
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            .icon-text
                              em.text-blue.icon.ni.ni-globe
                              span.tb-lead Edge / IE
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 28
                          .nk-tb-col
                            .progress.progress-md.progress-alt.bg-transparent
                              .progress-bar(data-progress='1.14')
                              .progress-amount 1.14%
                          .nk-tb-col.tb-col-sm.text-end
                            span.tb-sub 21.34%
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            .icon-text
                              em.text-purple.icon.ni.ni-globe
                              span.tb-lead Other Browser
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 683
                          .nk-tb-col
                            .progress.progress-md.progress-alt.bg-transparent
                              .progress-bar(data-progress='10.76')
                              .progress-amount 10.76%
                          .nk-tb-col.tb-col-sm.text-end
                            span.tb-sub 20.49%
                        // .nk-tb-item
                      // .nk-tb-list
                    // .card
                  // .col
                  .col-md-6.col-xxl-3
                    .card.card-bordered.h-100
                      .card-inner.mb-n2
                        .card-title-group
                          .card-title.card-title-sm
                            h6.title Pages View by Users
                          .card-tools
                            .drodown
                              a.dropdown-toggle.dropdown-indicator.btn.btn-sm.btn-outline-light.btn-white(href='#' data-bs-toggle='dropdown') 30 Days
                              .dropdown-menu.dropdown-menu-end.dropdown-menu-xs
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#')
                                      span 7 Days
                                  li
                                    a(href='#')
                                      span 15 Days
                                  li
                                    a(href='#')
                                      span 30 Days
                      .nk-tb-list.is-compact
                        .nk-tb-item.nk-tb-head
                          .nk-tb-col
                            span Page
                          .nk-tb-col.text-end
                            span Page Views
                        // .nk-tb-head
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 2,879
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /subscription/index.html
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 2,094
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /general/index.html
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 1,634
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /crypto/index.html
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 1,497
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /invest/index.html
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 1,349
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /subscription/profile.html
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 984
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /general/index-crypto.html
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 879
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /apps/messages/index.html
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 598
                        // .nk-tb-item
                        .nk-tb-item
                          .nk-tb-col
                            span.tb-sub
                              span /general/index-crypto.html
                          .nk-tb-col.text-end
                            span.tb-sub.tb-amount
                              span 436
                        // .nk-tb-item
                      // .nk-tb-list
                    // .card
                  // .col
                  .col-md-6.col-xxl-3
                    .card.card-bordered.h-100
                      .card-inner.h-100.stretch.flex-column
                        .card-title-group
                          .card-title.card-title-sm
                            h6.title Sessions by Device
                          .card-tools
                            .drodown
                              a.dropdown-toggle.dropdown-indicator.btn.btn-sm.btn-outline-light.btn-white(href='#' data-bs-toggle='dropdown') 30 Days
                              .dropdown-menu.dropdown-menu-end.dropdown-menu-xs
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#')
                                      span 7 Days
                                  li
                                    a(href='#')
                                      span 15 Days
                                  li
                                    a(href='#')
                                      span 30 Days
                        .device-status.my-auto
                          .device-status-ck
                            canvas#deviceStatusData.analytics-doughnut
                          .device-status-group
                            .device-status-data
                              em.icon.ni.ni-monitor(data-color='#798bff')
                              .title Desktop
                              .amount 84.5%
                              .change.up.text-danger
                                em.icon.ni.ni-arrow-long-up
                                | 4.5%
                            .device-status-data
                              em.icon.ni.ni-mobile(data-color='#baaeff')
                              .title Mobile
                              .amount 14.2%
                              .change.up.text-danger
                                em.icon.ni.ni-arrow-long-up
                                | 133.2%
                            .device-status-data
                              em.icon.ni.ni-tablet(data-color='#7de1f8')
                              .title Tablet
                              .amount 1.3%
                              .change.up.text-danger
                                em.icon.ni.ni-arrow-long-up
                                | 25.3%

      // content @e
      // footer @s
      include includes/footer.pug
      // footer @e
    // wrap @e
  // main @e
// app-root @e
// select region modal
#region.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      a.close(href='#' data-bs-dismiss='modal')
        em.icon.ni.ni-cross-sm
      .modal-body.modal-body-md
        h5.title.mb-4 Select Your Country
        .nk-country-region
          ul.country-list.text-center.gy-2
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/arg.png' alt='')
                span.country-name Argentina
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/aus.png' alt='')
                span.country-name Australia
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/english.png' alt='')
                span.country-name United State
    // .modal-content
  // .modla-dialog
// .modal
#modalForm.modal.fade
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5.modal-title Add Movie/TV Show/Book/Magazine
        a.close(href='#' data-bs-dismiss='modal' aria-label='Close')
          em.icon.ni.ni-cross
      .modal-body
        form#download-list-form.form-validate.is-alter
          .form-group
            label.form-label(for='media-select') Select Media Type
            .form-control-wrap
              .form-control-select
                select#media-select.form-control
                  option(value='1') Movie
                  option(value='2') TV Show
                  option(value='3' disabled='') Book
                  option(value='4' disabled='') Magazine
                  option(value='5' disabled='') Song
              .form-group
                label.form-label(for='default-01') Title
                .form-control-wrap
                  input#default-01.form-control(type='text' placeholder='Enter movie name' onchange='return loadMovieData(this);')
              .form-group
                label.form-label Select Movie
                .form-control-wrap
                  select#movie-select.form-select.js-select2(data-search='on')
                    //- option(value='default_option') Pick a Title
          .form-group
            label.form-label(for='comment') Comment
            .form-control-wrap
              input#comment.form-control(type='text')
          .form-group
            button.btn.btn-lg.btn-primary(type='submit') Save Informations
      .modal-footer.bg-light
        span.sub-text Modal Footer Text
// JavaScript
script(src='./assets/js/bundle.js?ver=3.0.3')
script(src='./assets/js/scripts.js?ver=3.0.3')
script(src='./frontend/script.js?ver=1.0.0')
script(src='./assets/js/charts/gd-analytics.js?ver=3.0.3')
script(src='./assets/js/libs/jqvmap.js?ver=3.0.3')