/* Nandha 14 Dec 2023 */
.spin-loader {
    position: absolute;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.center-div {
    display: grid;
    align-items: center;
    justify-content: center;
}

.female-highlight {
    background-color: #aeddba;
}

.team-status.bg-success.text-white {
    margin-left: 0.4rem;
}

.image-overlay {
    position: absolute;
    bottom: 2px;
    left: 2px;
    z-index: 2;
    background: rgba(23, 23, 23, 0.654);
    width: 75%;
    margin-left: 0.75rem;
}