include ../includes/header.pug
.nk-app-root
  // main @s
  .nk-main
    // sidebar @s
    include ../includes/sidepanel.pug
    // sidebar @e
    // wrap @s
    .nk-wrap
      // main header @s
      include ../includes/navbar.pug
      // main header @e
      // content @s
      .nk-content
        .container-fluid
          .nk-content-inner
            .nk-content-body
              .nk-block-head.nk-block-head-sm
                .nk-block-between
                  .nk-block-head-content
                    h3.nk-block-title.page-title All Movies
                    .nk-block-des.text-soft
                      p You have total #{allFilms.length} items.
                  // .nk-block-head-content
                  .nk-block-head-content
                    .toggle-wrap.nk-block-tools-toggle
                      a.btn.btn-icon.btn-trigger.toggle-expand.me-n1(href='#' data-target='pageMenu')
                        em.icon.ni.ni-menu-alt-r
                      .toggle-expand-content(data-content='pageMenu')
                        ul.nk-block-tools.g-3
                          li
                            a.btn.btn-white.btn-outline-light(href='#')
                              em.icon.ni.ni-download-cloud
                              span Export
                          li.nk-block-tools-opt
                            .drodown
                              a.dropdown-toggle.btn.btn-icon.btn-primary(href='#' data-bs-toggle='dropdown')
                                em.icon.ni.ni-plus
                              .dropdown-menu.dropdown-menu-end
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#' data-bs-toggle='modal' data-bs-target='#modalForm')
                                      span Add Media
                    // .toggle-wrap
                  // .nk-block-head-content
                // .nk-block-between
              // .nk-block-head
              .nk-block
                .row.g-gs
                  each film in allFilms
                    .col-sm-6.col-lg-4.col-xxl-3
                      .gallery.card.card-bordered
                        a.gallery-image.popup-image(href='./tmdb/movie_posters'+film.poster_path)
                          img.w-100.rounded-top(src='./tmdb/movie_posters'+film.poster_path alt='')
                        .gallery-body.card-inner.align-center.justify-between.flex-wrap.g-2
                          .user-card
                            .user-info
                              span.lead-text=film.title
                              span.sub-text=film.original_language
                          div
                            button.btn.btn-p-0.btn-nofocus
                              em.icon.ni.ni-heart
                              span=film.vote_average
      // content @e
      // footer @s
      include ../includes/footer.pug
      // footer @e
    // wrap @e
  // main @e
// app-root @e
// select region modal
#region.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      a.close(href='#' data-bs-dismiss='modal')
        em.icon.ni.ni-cross-sm
      .modal-body.modal-body-md
        h5.title.mb-4 Select Your Country
        .nk-country-region
          ul.country-list.text-center.gy-2
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/arg.png' alt='')
                span.country-name Argentina
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/aus.png' alt='')
                span.country-name Australia
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/english.png' alt='')
                span.country-name United State
    // .modal-content
  // .modla-dialog
include ../forms/addMedia.pug
// JavaScript
script(src='./assets/js/bundle.js?ver=3.0.3')
script(src='./assets/js/scripts.js?ver=3.0.3')
script(src='./frontend/script.js?ver=1.0.0')
