<div class="nk-add-product toggle-slide toggle-slide-right" data-content="addFavPerson" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar>
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h5 class="nk-block-title">Edit Favourite</h5>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="row g-3">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="product-title">Product Title</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="product-title">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Select Tags</label>
                    <div class="form-control-wrap">
                        <select class="form-select js-select2-ajax" id="tag-select" data-search="on" multiple>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary"><em class="icon ni ni-plus"></em><span>Save</span></button>
            </div>
        </div>
    </div><!-- .nk-block -->
</div>